.intro-container{
  display: flex;
  padding: 10px;
  margin-left: 0px;


  @media only screen and (min-width: 901px) {
    margin-top: 100px;
    margin-left: 75px;
    padding: 0px;
  }

  .greeting {
    color: var(--color-accent);
    font-size: 48px;
    font-family: 'Righteous', cursive;
  }

  .adjusted {
    margin-left: 3px;
  }

  .intro {
    @extend .adjusted;
    color:  white;
    font-size: 24px;
    font-family: Nova, monospace;
  }

  .description {
    @extend .intro;

    margin-top: 35px;
    font-size: 18px;
    color: lightgray;
    max-width: 35em;
  }

  .specialities {
    @extend .intro;

    margin-top: 15px;
    font-size: 18px;
    color: lightgray;
    max-width: 35em;
  }

  .cta-button {
    margin-top: 25px;
    width: 175px;
    border-width: thin;
    border-color: var(--color-accent);
    outline-color: var(--color-accent);
  }
}
