<div class="intro-container">
  <div fxLayout="column">
    <span id="greeting" class="greeting">{{hero.greeting}}</span>
    <span class="intro">{{hero.introduction}}</span>
    <span class="description">{{hero.description}}</span>
    <span class="specialities">{{hero.daveExpertise}}</span>
    <span class="specialities">{{hero.gillExpertise}}</span>
    <button fxFlexAlign="center" fxFlexAlign.gt-xs="start" (click)="sendEmail()" class="cta-button" mat-stroked-button color="accent">Let's get to work</button>
  </div>
</div>
