
@mixin fade-in-animation($delay) {
  opacity: 0;
  -webkit-animation: fadeIn 300ms $delay forwards; /* Safari 4+ */
  -moz-animation: fadeIn 300ms $delay forwards; /* Fx 5+ */
  -o-animation: fadeIn 300ms $delay forwards; /* Opera 12+ */
  animation: fadeIn 300ms $delay forwards;
}

.fade-in-animation {
  opacity: 0;
  -webkit-animation: fadeIn 300ms 250ms forwards; /* Safari 4+ */
  -moz-animation: fadeIn 300ms 250ms forwards; /* Fx 5+ */
  -o-animation: fadeIn 300ms 250ms forwards; /* Opera 12+ */
  animation: fadeIn 300ms 250ms forwards;
}

.toolbar-button:nth-child(1) {
  @include fade-in-animation(250ms)
}

.toolbar-button:nth-child(2) {
  @include fade-in-animation(500ms)
}

.toolbar-button:nth-child(3) {
  @include fade-in-animation(750ms)
}

.toolbar-button {
  margin-left: 6px;

  .icon {
    font-size: 16px;
  }
  .white-icon {
    @extend .icon;
    color:white;
  }

  .fa-address-card {
    @extend .white-icon;
  }

  .fa-folder-open {
    @extend .white-icon;
  }

  .fa-envelope {
    @extend .icon;
  }

}

.button-container {
  display: flex;
  flex-flow: row nowrap;

  @media only screen and (max-width: 959px) {
    flex-flow: column nowrap;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
