<div class="container">
  <div fxFlex="100%" fxLayoutAlign="center center" fxLayout="column" class="footer-content">
    <span class="credit">Designed and Developed by Dave Soler</span>
    <div fxLayout="row" class="social-bar">
      <button (click)="showFacebook()" mat-icon-button><i class="fab fa-facebook-square"></i></button>
      <button (click)="showInstagram()" mat-icon-button><i class="fab fa-instagram"></i></button>
      <button (click)="showTwitter()" mat-icon-button><i class="fab fa-twitter-square"></i></button>
    </div>
  </div>
</div>
