@import '../../../node_modules/@angular/material/_theming.scss';

.container {
  margin-top: 200px;
  margin-left: 75px;

  @media only screen and (max-width: 900px) {
    padding: 10px;
    margin-left: 0px;
  }

  .header {
    .header-label {
      color: var(--color-accent);
      font-size: 36px;
      font-family: 'Righteous', cursive;

      @media only screen and (max-width: 600px) {
        font-size: 24px;
      }

      @media only screen and (max-width: 374px) {
        font-size: 18px;
      }

    }
    mat-divider {
      border-top-color: white;
      width: 50%;
      margin-top: 50px;
      margin-left: 10px;

      @media only screen and (max-width: 600px) {
        margin-top: 32px;
      }


      @media only screen and (max-width: 374px) {
        margin-top: 25px;
      }

    }
  }
}

.project-list {
  .project-card {
    border-radius: 10px;
    background-color: #4F4F4F;
    margin-left: 10px;
    margin-top: 20px;
    max-width: 300px;
    @include mat-elevation-transition;
    @include mat-elevation(2);


    &:hover {
      @include mat-elevation(6, var(--color-accent));
    }

    .project-title {
      font-family: Righteous, cursive;
      color: var(--color-accent);
      font-size: 24px;
    }

    .project-subtitle {
      margin-top: 5px;
      font-family: Nova, monospace;
    }

    .project-description {
      font-family: Nova, monospace;
    }

    .project-action {
      justify-content: end;
    }
  }
}
