<div class="container">
  <div appFadeInOnce class="header" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="start start">
    <h1 fxFlex="100%" fxFlex.gt-xs="40%" fxFlex.gt-sm="45%" fxFlex.gt-md="30%" class="header-label">What we've done?</h1>
    <mat-divider fxFlex="100%" fxFlex.gt-xs="50%" fxFlex.gt-sm="40%" fxFlex.gt-md="50%"></mat-divider>
  </div>
  <div class="project-container">
    <div fxLayout="row wrap" fxLayout.lt-sm="column wrap" fxLayoutAlign="center center" class="project-list" >
      <div fxFlex.gt-sm="33%" fxFlex.sm="50%" fxFlex.lt-sm="100%" class="card-container" *ngFor="let project of projects">
        <mat-card appFadeInOnce class="project-card">
          <img class="card-image" alt="{{project.name}} thumbnail" mat-card-image src="{{project.image}}"/>
          <mat-card-title fxLayout="row" class="project-title">
            <div class="icon">
              <i [className]="project.icon"></i>
            </div>
            <div class="name">
              {{project.name}}
            </div>

          </mat-card-title>
          <mat-card-subtitle class="project-subtitle">
            {{project.client}}
          </mat-card-subtitle>
          <mat-card-content class="project-content">
            <p class="project-description"> {{project.description}}</p>

          </mat-card-content>
          <mat-divider inset="true"></mat-divider>
          <mat-card-actions align="end">

            <button mat-icon-button color="accent" (click)="openLink(project.link)" class="project-action">
              <i class="fas fa-external-link-alt"></i>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

