/* Theme for the ripple elements.*/
/* stylelint-disable material/no-prefixes */
/* stylelint-enable */
.container {
  padding: 10px;
}
.container .header {
  margin-left: 0px;
}
@media only screen and (min-width: 901px) {
  .container .header {
    margin-top: 200px;
    margin-left: 150px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container .header {
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
.container .header .header-label {
  color: var(--color-accent);
  font-size: 36px;
  font-family: "Righteous", cursive;
}
@media only screen and (max-width: 959px) {
  .container .header .header-label {
    font-size: 24px;
  }
}
.container .header mat-divider {
  border-top-color: white;
  width: 50%;
  margin-top: 50px;
}
@media only screen and (max-width: 599px) {
  .container .header mat-divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  .container .header mat-divider {
    margin-top: 30px;
  }
}

.project-container {
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
@media only screen and (min-width: 901px) {
  .project-container {
    padding: 10px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .project-container {
    padding: 10px;
    margin-left: 10px;
    margin-right: 19px;
  }
}
.project-container .card-container {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
}
@media only screen and (min-width: 900px) {
  .project-container .card-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
}
.project-container .card-container .project-card {
  border-radius: 10px;
  background-color: #4F4F4F;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.project-container .card-container .project-card .card-image {
  object-fit: cover;
  height: 200px;
  opacity: 0.5;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}
.project-container .card-container .project-card .card-image:hover {
  opacity: 0.7;
}
.project-container .card-container .project-card:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.project-container .card-container .project-card .project-title {
  font-family: Righteous, cursive;
  color: var(--color-accent);
  font-size: 18px;
}
.project-container .card-container .project-card .project-title .icon {
  color: white;
  margin-left: 3px;
}
.project-container .card-container .project-card .project-title .name {
  margin-left: 10px;
}
.project-container .card-container .project-card .project-subtitle {
  margin-top: 5px;
  margin-left: 3px;
  font-family: Nova, monospace;
}
.project-container .card-container .project-card .project-content {
  padding-top: 20px;
}
.project-container .card-container .project-card .project-content .project-description {
  font-family: Nova, monospace;
}
@media only screen and (max-width: 959px) {
  .project-container .card-container .project-card .project-content .project-description {
    font-size: 14px;
  }
}

/*# sourceMappingURL=portfolio.component.css.map */
