@import '../../../node_modules/@angular/material/_theming.scss';

.container {
  padding: 10px;

  .header {
    margin-left: 0px;
    margin-top: 150px;
    opacity: 0;

    @media only screen and (min-width: 901px) {
      margin-top: 200px;
      margin-left: 150px;
    }

    @media only screen and (min-width: 600px) and (max-width: 900px){
      margin-left: 50px;
      margin-right: 50px;
    }
    .header-label {
      color: var(--color-accent);
      font-size: 36px;
      font-family: 'Righteous', cursive;

      @media only screen and (max-width: 959px) {
        font-size: 24px;
      }
    }

    mat-divider {
      border-top-color: white;
      width: 50%;
      margin-top: 50px;

      @media only screen and (max-width: 599px) {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      @media only screen and (min-width: 600px) and (max-width: 959px) {
        margin-top: 30px;
      }

    }
  }
}

.project-container {
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;


  @media only screen and (min-width: 901px) {
    padding: 10px;

  }

  @media only screen and (min-width: 600px) and (max-width: 900px) {
    padding: 10px;
    margin-left: 10px;
    margin-right: 19px;
  }

  .card-container {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;

    @media only screen and (min-width: 900px) {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
    }


    .project-card {
      opacity: 0;
      border-radius: 10px;
      background-color: #4F4F4F;

      .card-image {
        object-fit: cover;
        height: 200px;
        opacity: .5;

        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s;

        &:hover {
          opacity: .7;
        }
      }

      @include mat-elevation-transition;
      @include mat-elevation(2);


      &:hover {
        @include mat-elevation(8);
      }

      .project-title {
        font-family: Righteous, cursive;
        color: var(--color-accent);
        font-size: 18px;

        .icon {
          color: white;
          margin-left: 3px;
        }

        .name {
          margin-left: 10px;
        }
      }

      .project-subtitle {
        margin-top: 5px;
        margin-left: 3px;
        font-family: Nova, monospace;

      }

      .project-content {
        padding-top: 20px;

        .project-description {
          font-family: Nova, monospace;

          @media only screen and (max-width: 959px) {
            font-size: 14px;
          }

        }
      }
    }
  }
}
