<div class="container">
  <div class="header" fxLayout="row">
    <h1 class="header-label">What have we done?</h1>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="row wrap"  class="project-container">
    <div fxFlex.gt-md="26%" fxFlex.gt-sm="50%" fxFlex.lt-sm="100%" class="project-list" *ngFor="let project of projects">
      <mat-card class="project-card">
        <mat-card-title class="project-title">
          {{project.name}}
        </mat-card-title>
        <mat-card-subtitle class="project-subtitle">
          {{project.company}}
        </mat-card-subtitle>
        <mat-card-content>
            <p class="project-description"> {{project.description}}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button (click)="openLink(project.link)" class="project-action" mat-icon-button >
            <mat-icon svgIcon="external-link"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

