<mat-sidenav-container [hasBackdrop]="true"  class="example-container">
  <mat-sidenav [fixedInViewport]="true" [autoFocus]="false" mode="over" [(opened)]="opened">
    <div class="sidenav-container">
      <img alt="logo" class="logo" src="assets/img/JointLogoNoText.png"/>
      <div class="button-container">
        <app-navigation-buttons></app-navigation-buttons>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar class="toolbar"  (sideNavStateChanged)="toggleDrawer($event)"></app-toolbar>
    <div class="container">
      <app-cover class="cover"></app-cover>
      <app-main-content class="content"></app-main-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
