.container {
  margin-top: 100px;
  .contact-content {
    .header {
      font-size: 36px;
      font-family: Righteous, cursive;
      color: var(--color-accent);

      @media screen and (max-width: 599px) {
        font-size: 24px;
      }
    }
    .body {
      font-size: 18px;
      font-family: Nova, monospace;
      color: lightgray;

      max-width: 50%;

      @media screen and (max-width: 599px) {
        max-width: 75%;
      }
    }

    button {
      margin-top: 25px;
    }
  }
}
