
.container {
  margin-top: 200px;
  margin-left: 75px;

  @media only screen and (max-width: 900px) {
    padding: 10px;
    margin-left: 0px;
  }

  .header {
    .header-label {
      color: var(--color-accent);
      font-size: 36px;
      font-family: 'Righteous', cursive;

      @media only screen and (max-width: 600px) {
        font-size: 24px;
      }

      @media only screen and (max-width: 374px) {
        font-size: 18px;
      }

    }

    mat-divider {
      border-top-color: white;
      width: 50%;
      margin-top: 50px;
      margin-left: 10px;

      @media only screen and (max-width: 600px) {
        margin-top: 32px;
      }


      @media only screen and (max-width: 374px) {
        margin-top: 25px;
      }

    }



  }

  .middle-profiles {
    margin-top: 55px;
  }

  .about {
    .headshot-container {
      .headshot {
        border-radius: 8px;
        mask-image: linear-gradient(var(--color-accent), transparent);
        max-height: 450px;
        max-width: 347px;

      }
    }

    .adjusted {
      margin-left: 3px;
    }

    .description {
      @extend .adjusted;
      color:  lightgray;
      font-size: 18px;
      font-family: Nova, monospace;
    }
  }

  .staff-skills {
    .skill-header {
      font-size: 24px;
      font-family: 'Righteous', cursive;
      color: var(--color-accent);
      text-align: left;
    }

    .skills {
      ul {
        text-align: left;
      }
      li {
        color: white;
        font-family: Nova, monospace
      }
    }
  }
}


