<div class="container">
  <div class="header" fxLayout="row">
    <h1 class="header-label">Who are we?</h1>
    <mat-divider></mat-divider>
  </div>
  <div class="dave-about" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div fxFlex="35%" fxFlexOrder.gt-md="1" fxFlexOrder.lt-md="2">
      <p class="description" fxFlexAlign="start" >
        My name is Dave Soler and I've been creating software in the Philadelphia Area for over 6 years.
        I have created responsive marketing websites for small businesses, mobile (Android and iOS) applications for Labor Unions,
        and even am soon-to-be published for my software contributions to a study at the Children's Hospital of Philadelphia.
        Needless to say, I am qualified and capable of solving any business problem that comes my way.
      </p>
    </div>
    <div fxFlex="65%" fxFlexOrder.gt-md="2" fxFlexOrder.lt-md="1" fxLayoutAlign="center center">
      <div class="headshot-container">
        <img alt="dave-headshot" class="headshot" src="assets/img/DaveHeadshot.png"/>
      </div>
    </div>
  </div>
  <div class="gill-about" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div fxFlex="25%" fxFlexOrder.gt-md="1" fxFlexOrder.lt-md="1" fxLayoutAlign="center center">
      <div class="headshot-container">
        <img alt="dave-headshot" class="headshot" src="assets/img/DaveHeadshot.png"/>
      </div>
    </div>
    <div fxFlex="75%" fxFlexOrder.gt-md="2" fxFlexOrder.lt-md="2" fxLayoutAlign.gt-md="center">
      <p class="description" fxFlexAlign="end" >
        My name is Dave Soler and I've been creating software in the Philadelphia Area for over 6 years.
        I have created responsive marketing websites for small businesses, mobile (Android and iOS) applications for Labor Unions,
        and even am soon-to-be published for my software contributions to a study at the Children's Hospital of Philadelphia.
        Needless to say, I am qualified and capable of solving any business problem that comes my way.
      </p>
    </div>
  </div>
</div>
