.header-image {
  margin-top: 4px;
  height: 400px;
  width: 100%;

  @media screen and (max-width: 600px) {
    height: 250px;
  }

  @media screen and (max-width: 375px) {
    height: 215px;
  }
}

.container {
  margin-top: 60px;
  width: 100%;

  .img-container {
    position: relative;
    width: 100%;

    .top {
      width: 100%;
      position:absolute;
      left:0px;
      top:0px;
      z-index:-1;
    }
    .bottom {
      position:absolute;
      left:0px;
      top:0px;
      z-index:-1;
    }
  }
}
