<div class="branding-container fill-remaining-space" fxShow="true" fxHide.gt-sm="true" >
  <span class="fill-remaining-space"></span>
  <img alt="text-logo" class="toolbar-text-logo" src="assets/img/TextLogo.png">
  <span class="fill-remaining-space"></span>
  <img alt="logo" class="toolbar-logo" src="assets/img/JointLogoNoText.png"/>
</div>
<div class="branding-container fill-remaining-space" fxShow.gt-md="true" fxHide.lt-md="true">
  <img alt="logo" class="toolbar-logo" src="assets/img/JointLogoNoText.png"/>
  <img alt="text-logo" class="toolbar-text-logo" src="assets/img/TextLogo.png">
  <span class="fill-remaining-space"></span>
</div>
